<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="chat-frag">
  <!--
  TODO fix show sidebar button
  <show-sidebar-button></show-sidebar-button>
  -->
  <h2>Chat</h2>
  <div class="jumbotron">
    <div class="container">
      <h1>Chat</h1>
      <p>Aenean dignissim luctus diam. Curabitur non bibendum leo. In hendrerit interdum sapien non ultrices. Pellentesque bibendum eleifend lacinia.
         Donec ac aliquam massa. Integer pretium elit justo, quis placerat purus sagittis non. Sed a ligula sit amet ex facilisis venenatis. Praesent
         id tellus eu metus viverra rutrum vitae nec risus. Vivamus a felis ac lectus suscipit laoreet a sit amet ligula. Fusce cursus tempor sem in
         elementum. Duis eu tortor tincidunt, vehicula libero in, ultricies tortor. Maecenas volutpat dignissim ante, vitae volutpat diam. Sed
         tristique congue nisl, eu commodo nulla suscipit vel. Quisque non dolor mollis nunc congue ullamcorper. Aliquam accumsan mi eget ultrices
         efficitur. Sed sollicitudin sem at massa mollis, in dignissim felis vulputate.</p>
    </div>
  </div>
</div>
</body>
</html>