<div>
  <show-sidebar-button></show-sidebar-button>
  <h2>Calendar</h2>
  <div class="jumbotron">
    <div class="container">
      <h1>Calendar</h1>
      <p>Nulla facilisi. Nunc et elit vel magna tempus faucibus. Donec in commodo ex. Nunc venenatis aliquam lacinia. Sed id magna a arcu fermentum
         vehicula ac at odio. Nam est lacus, pretium quis commodo in, blandit ac sapien. Praesent pulvinar mauris a mauris ornare posuere. Proin
         sodales aliquet erat eu imperdiet. Maecenas sed neque venenatis est aliquam pharetra. Nullam dictum urna at ipsum sagittis vulputate.
         Maecenas rhoncus gravida scelerisque. Quisque sed pellentesque enim, ac finibus augue.</p>
    </div>
  </div>
</div>