<div>
  <h2>Home</h2>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus hendrerit orci vitae mattis. Donec in euismod nibh. Nam lobortis
         tincidunt dui ut auctor. Nulla quis mauris et erat faucibus egestas in vitae risus. Aliquam ut lorem laoreet, lobortis purus sit amet, cursus
         massa. In varius mi dui, lobortis viverra nibh rutrum ut. Aenean mollis nisi neque, dapibus cursus sem imperdiet a. Morbi ultricies turpis eu
         gravida sollicitudin.</p>
    </div>
  </div>
</div>