<div>
  <show-sidebar-button></show-sidebar-button>
  <h2>Other</h2>
  <div class="jumbotron">
    <div class="container">
      <h1>Other</h1>
      <p>Integer consectetur maximus lacus in vulputate. Duis fermentum sollicitudin ligula, vel iaculis eros pulvinar at. Donec cursus libero at
         sapien dignissim aliquet. Ut gravida egestas diam vel cursus. Praesent egestas consectetur est, a aliquet est semper ut. Curabitur nulla
         magna, elementum cursus lectus in, auctor accumsan augue. Vivamus vel mattis odio, et posuere tortor.</p>
    </div>
  </div>
</div>