<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="dashboard-frag">
  <!--
  TODO fix sidebarToggle
  <div ng-show="sidebarToggle">
  -->
  <div class="col-sm-3 col-md-2 sidebar">
    <div class="text-center">
      <!--
      TODO fix sidebarToggle
      <a ng-click="hideSidebar()" class="btn btn-white btn-outline btn-rounded">Hide sidebar</a>
      -->
      <img th:src="@{/images/512x512_logo_white.png}" width="128"/>
      <!-- TODO rewrite when authentication is working -->
      <h4>Logged in with</h4>
      <p>[NEPTUN-CODE]</p>
      <a class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
    </div>

    <ul class="nav nav-sidebar">
      <li><a th:href="@{/dashboard/home}">Home</a></li>
      <li><a th:href="@{/dashboard/calendar}">Calendar</a></li>
      <li><a th:href="@{/dashboard/consulting-hours}">Consulting hours</a></li>
      <li><a th:href="@{/dashboard/other}">Other</a></li>
      <li><a th:href="@{/dashboard/about-us}">About us</a></li>
    </ul>

  </div>
  <script type="text/javascript" th:src="@{/js/converse-initialize.js}"></script>
</div>
</body>
</html>