<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{calendar.title}"></title>
  <thymeleaf th:replace="fragments/head-frag :: basic-head-frag"/>
  <thymeleaf th:replace="fragments/js-locale-frag :: js-locale-frag"/>
  <thymeleaf th:replace="fragments/head-frag :: conversejs-head-frag"/>
  <thymeleaf th:replace="fragments/head-frag :: calendar-head-frag"/>
  <thymeleaf th:replace="fragments/head-frag :: datetimepicker-head-frag"/>
</head>
<body>
<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div th:replace="fragments/dashboard-frag :: dashboard-frag"></div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <!--
        TODO fix show sidebar button
        <show-sidebar-button></show-sidebar-button>
        -->
        <h2 th:text="#{calendar.page_title}"></h2>
        <div class="jumbotron">
          <div class="container">
            <div id="calendar"></div>
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#add-custom-event">
              <span th:text="#{calendar.custom_events.add_button}"></span>
              <span class="caret"></span>
            </button>
            <div id="add-custom-event" class="collapse">
              <thymeleaf th:replace="fragments/calendar-frag :: add-custom-event-frag"></thymeleaf>
            </div>
            <h2 th:text="#{calendar.custom_events.custom_events}"></h2>
            <div th:each="event : ${customEvents}">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 th:text="${event.eventName} + ' - ' + ${event.eventPlace}"></h2>
                </div>
                <div class="panel-body">
                  <h3 th:text="${event.eventStart} + ' - ' + ${event.eventEnd}"></h3>
                  <h3 th:text="${event.eventDescription}"></h3>
                  <form th:action="@{/dashboard/calendar/removecustomevent/__${event.guid}__}" th:method="DELETE">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger" th:text="#{calendar.custom_events.remove_button}"></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/calendar.js}"></script>
<script type="text/javascript" th:src="@{/js/datetimepicker.js}"></script>
</body>
</html>