<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>SmartCampus - Chat</title>
  <thymeleaf th:replace="fragments/heads/basic-head-frag :: basic-head-frag"/>
  <thymeleaf th:replace="fragments/heads/conversejs-head-frag :: conversejs-head-frag"/>
</head>
<body>
<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div th:replace="fragments/dashboard-frag :: dashboard-frag"></div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <!--
        TODO fix show sidebar button
        <show-sidebar-button></show-sidebar-button>
        -->
        <h2>Chat</h2>
        <div class="jumbotron">
          <div class="container">
            <h1>Chat</h1>
            <p>Aenean dignissim luctus diam. Curabitur non bibendum leo. In hendrerit interdum sapien non ultrices. Pellentesque bibendum eleifend
               lacinia.
               Donec ac aliquam massa. Integer pretium elit justo, quis placerat purus sagittis non. Sed a ligula sit amet ex facilisis venenatis.
               Praesent
               id tellus eu metus viverra rutrum vitae nec risus. Vivamus a felis ac lectus suscipit laoreet a sit amet ligula. Fusce cursus tempor
               sem in
               elementum. Duis eu tortor tincidunt, vehicula libero in, ultricies tortor. Maecenas volutpat dignissim ante, vitae volutpat diam. Sed
               tristique congue nisl, eu commodo nulla suscipit vel. Quisque non dolor mollis nunc congue ullamcorper. Aliquam accumsan mi eget
               ultrices
               efficitur. Sed sollicitudin sem at massa mollis, in dignissim felis vulputate.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script>
    // Converse.js initialization
    converse.initialize(
        {
            bosh_service_url: 'http://smartcampus:5280/http-bind',
            show_controlbox_by_default: true,
            authentication: 'prebind', // attaching to an existing XMPP BOSH session, that is set up server-side
            keepalive: true, // once a user is logged in, the session will be kept alive across page loads
            jid: 'butikai@smartcampus/resource', // the jabber ID TODO get the JID from server-side and set here
            prebind_url: 'http://example.com/api/prebind', // will call whenever a new BOSH session needs to be set up
            allow_logout: false, // no logout is allowed, you are trapped forever
            allow_registration: false, // disallow XMPP account registration showing the corresponding UI register form interface
            auto_login: true, // automatically log the user in as soon as the page loads
            i18n: 'en', // set locale to 'en', until actual TODO I18N messages
            visible_toolbar_buttons: { // show or hide buttons on the chat boxes' toolbars
                call: false, // for third party library calls
                clear: true, // clearing messages from chat box
                emoticons: false, // rendering emoticons and a toolbar
                toggle_occupants: true // showing/hiding the list of occupants in a room
            }
        }
    );
</script>
</html>