<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{home.title}"></title>
  <thymeleaf th:replace="fragments/head-frag :: basic-head-frag"/>
  <thymeleaf th:replace="fragments/js-locale-frag :: js-locale-frag"/>
  <thymeleaf th:replace="fragments/head-frag :: conversejs-head-frag"/>
  <thymeleaf th:replace="fragments/head-frag :: calendar-head-frag"/>
</head>
<body>
<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div th:replace="fragments/dashboard-frag :: dashboard-frag"></div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <!--
        TODO fix show sidebar button
        <show-sidebar-button></show-sidebar-button>
        -->
        <h2 th:text="#{home.page_title}"></h2>
        <div class="jumbotron">
          <div class="container">
            <h1 th:text="#{home.welcome}"></h1>
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/calendar.js}"></script>
</body>
</html>