<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>SmartCampus - Other</title>
  <thymeleaf th:replace="fragments/heads/basic-head-frag :: basic-head-frag"/>
  <thymeleaf th:replace="fragments/heads/conversejs-head-frag :: conversejs-head-frag"/>
</head>
<body>
<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div th:replace="fragments/dashboard-frag :: dashboard-frag"></div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <!--
        TODO fix show sidebar button
        <show-sidebar-button></show-sidebar-button>
        -->
        <h2>Other</h2>
        <div class="jumbotron">
          <div class="container">
            <h1>Other</h1>
            <p>Integer consectetur maximus lacus in vulputate. Duis fermentum sollicitudin ligula, vel iaculis eros pulvinar at. Donec cursus libero
               at
               sapien dignissim aliquet. Ut gravida egestas diam vel cursus. Praesent egestas consectetur est, a aliquet est semper ut. Curabitur
               nulla
               magna, elementum cursus lectus in, auctor accumsan augue. Vivamus vel mattis odio, et posuere tortor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>